#app {
    background-image: url("../img/index_bg.jfif");
    min-width: 1920px;
    min-height: 1080px;
    background-size: 100% 100%;
    background-position: center center;
    overflow: auto;
}

#index {
    width: 1200px;
    display: inline-block;
    position: fixed;
    top: 200px;
    left: 100px;
    margin: 16px;
    overflow: hidden;
}


.btn-s {
    width: 90px;
    height: 36px;
    display: inline-block;
    position: relative;
    top: 20%;
    margin: 16px;
    overflow: hidden;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 24px;
    cursor: pointer;

}

.btn-s:focus {
    outline: none;
}

.btn-s:before {
    content: "";
    height: 110%;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    background-image: url("../img/index_bg.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
}

.btn-s span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 20px;
    transform: translateY(-50%);
    z-index: 9;
}

.btn-s:before {
    transition: all 0.3s ease;
}

.btn-s:hover:before {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.btn-s:focus {
    outline: none;
}

.btn-s#btn-6 {
    position: fixed;
    top: 10px;
    left: 1790px;
}

.btn-s#btn-7 {
    width: 200px;
    position: fixed;
    top: 10px;
    left: 1500px;
}

.btn-s#btn-8 {
    position: fixed;
    top: 10px;
    left: 1500px;
}


.btn {
    width: 380px;
    height: 76px;
    display: inline-block;
    position: relative;
    top: 20%;
    margin: 16px;
    overflow: hidden;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 26px;
    cursor: pointer;

}

.btn:before {
    content: "";
    height: 110%;
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    background-image: url("../img/index_bg.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
}

.btn span {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    z-index: 9;
}

.btn:before {
    transition: all 0.3s ease;
}

.btn:hover:before {
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.btn#btn-1 {
    position: fixed;
    top: 200px;
    left: 1500px;
}

.btn#btn-2 {
    position: fixed;
    top: 300px;
    left: 1500px;
}

.btn#btn-3 {
    position: fixed;
    top: 400px;
    left: 1500px;
}

.btn#btn-4 {
    position: fixed;
    top: 500px;
    left: 1500px;
}

.btn#btn-5 {
    position: fixed;
    top: 600px;
    left: 1500px;
}

.btn#btn-6 {
    position: fixed;
    top: 700px;
    left: 1500px;
}

.param {
    display: none;
}

#title {
    width: 500px;
    height: 76px;
    display: inline-block;
    position: fixed;
    top: 100px;
    left: 1500px;
    margin: 16px;
    overflow: hidden;
    background: transparent;
    color: white;
    font-size: 28px;
    cursor: pointer;
}

.el-main {
    text-align: center;
    width: 1200px;
    height: 100%;
}

body > .el-container {
    margin-bottom: 40px;
}

#index ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-bottom: 10px;
}

#index li {
    margin-right: 5px;
    width: 380px;
    height: 110px;
    float: left;
    font-size: 18px;
}

#index li .el-card__body {
    padding: 10px;
}

#index li .el-button {
    padding: 2px;
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

#el_card_title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 800;
}

#el_card_ul {
    margin: 0 auto;
}

#el_card_ul li {
    margin-right: 7px;
    width: 110px;
    height: 50px;
    float: left;
    font-size: 18px;
    padding-top: 8px;

}

.el-icon-s-order {
    font-size: 25px;
}

.el-icon-s-comment {
    font-size: 25px;
}

.el-button [class*=el-icon-] + span {
    margin-left: 25px;
}